body {
    font-family: 'Architects Daughter', cursive;
    font-family: 'Domine', serif;
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Lobster Two', cursive;
    font-family: 'Marck Script', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Rubik', sans-serif;
    font-family: 'Satisfy', cursive;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Splash', cursive;
    font-family: 'The Nautigal', cursive;
    font-family: 'Titan One', cursive;
    font-family: 'Ubuntu', sans-serif;
}