.header-text {
    width: 40%;
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: -15px;
}
.header-text h1 {
    font-size: 65px;
}
.header-text p {
    color: rgba(255, 255, 255, 0.801);
    position: relative;
    width: 99%;
    top: -25px;
    letter-spacing: 1px;
}
.header-text a {
    width: 100px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 60);
    padding: 16px 36px;
    border-radius: 2px;
}
.header-link-button {
    position: fixed;
    top: 2%;
    left: 18%;
    transform: translate(-50%, -50%);
}
.header-link-button {
    display: block;
    text-decoration: none;
    color: rgb(57, 57, 57);
    border: 2px solid rgb(54, 54, 54);
    text-align: center;
    position: relative;
    transition: all .35s;
}
.header-link-button span {
    position: relative;
    z-index: 2;
}
.header-link-button:hover{
    color: rgb(0, 0, 0);
  }
.header-link-button:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(255, 255, 255);
    transition: all .35s;
}
.header-link-button:hover:after{
    width: 100%;
}
.header-link-button {
    text-decoration: none;
}
.header-banner {
    height: 580px;
}
.header-container {
    display: flex;
    height: 580px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.910);
    margin: 4% 8%;
    border-radius: 25px;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.808);
}